/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding: 0;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: yellow;
    padding: 25px;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }
  
  header p {
    margin: 0;
    font-size: 18px;
  }
  
  /* Estilos del menú de navegación */
  nav {
    background-color: #003f5c;
    color: #fff;
    padding: 10px 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav a:hover {
    text-decoration: underline;
  }

  main{
    background-color: aqua;
    color: black;
    padding: 10px 20px;
  }